{% extends 'layout.html' %} {% block body %}
<div class="jumbotron text-center">
    <h1>Contribute</h1>
    <p>The lepidopterarium is an online area where you can upload your pictures and find out what species of lepidoptera it belongs to.</p>


<form action="" method="post" enctype="multipart/form-data">
    {{ form.csrf }}

    <div class="input text">
        {{ form.name.label }} {{ form.name }}
    </div>

    <div class="input text">
        {{ form.species.label }} {{ form.species }}
    </div>

    </br>

    <div class="input photo">
        {{ form.photo }}
    </div>

    </br></br>
    <div class="input submit">
        <input type="submit" value="Submit" />
    </div>

</div>

{% endblock %}